{% extends "blog/master.html" %}

{% block title %}Code500 | Home page{% endblock %}

{% block content %}
    {% for post in posts %}

	<div class="row">
		<div class="media">
		    <span class="media-left" style="padding: 20px;">
		      	{% if post.thumb %}
		      		<a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
			        	<img width="128px" height="128px" src="{{ post.thumb.url }}" alt="{{ post.title }}">
			        </a>
				{% endif %}
		    </span>
		    <div class="media-body">
		      <h4 class="media-heading mt-3">
		      		<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
		      </h4>
		        <p class="small">{{ post.publish }} by {{ post.author }}</p>
		        <p class="big"> {{ post.body|truncatewords:40|linebreaks }} </p>
		    </div>
		</div>
	</div>
       
    {% endfor %}
    {% include "pagination.html" with page=posts %}
{% endblock %}